
:root{
    --fuente-logo: 'Michroma', sans-serif;
    --fuente-enlaces: 'Julius Sans One', sans-serif;
    /* font-family: 'Julius Sans One', sans-serif; */
/* font-family: 'Michroma', sans-serif; */
}


*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    background-color: #2C1E4A;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #595ae8;
}

.box-login { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 20px 0;
    background-color: #fff;
    border-radius: 10px;    
}

.box-login label{
    font-size: 18px;
}

.box-login input{
    width: 170px;
    height: 20px;
}

.box-login .card-body form{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 10px;
}

.box-btn-login button{
    border: none;
    background-color: #b937c2;
    border-radius: 5px;
    padding: 6px 40px;
    cursor: pointer;
    font-weight: 700;
    color: #fff;
}

.box-btn-login{
    margin: auto;
}

.box-title-login{
    background-color: #14017f;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;    
}

.title-logo{
    min-width: 500px;
    /* width: 100%; */
    /* padding: 0px 400px 0px 0px; */
    /* text-align: center; */
    display: flex;
    /* margin: 20px  0 0 40px; */
    gap: 10px;
    align-items: center;
    color: #fff;
}

.title-logo h1{
    font-family: var(--fuente-logo);
    text-transform: uppercase;
}

.title-logo img{
    width: 65px;
}
/*RESPONSIVE LOGO DE ACADEMYVIEW*/

nav{
    width: 100%;
    /* background-color: #595ae8;     */
    height: 70px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 20px #1F133B;
}

nav a{
    font-family: var(--fuente-enlaces);
    height: 100%;
    padding: 0px 10px;
    text-decoration: none;
    color: #fff;        
    transition: all 300ms;
    height: 71px;
    display: flex;
    align-items: center;
    font-weight: 700;
}

nav a:hover{
    border-bottom: solid 1px #fff;
}
/*==========================================================*/
.btn-logout{
    width: 60px;
}

.portada { 
    width: 100%;
    display: flex;
    justify-content: center;
}

.portada img{
    width: 700px;
}



/* Estilos PERFIL */

.boxDatos {
    width: 100%;
    padding: 0 100px;
    height: 100vh;
}

.title-datos{
    font-family: var(--fuente-logo);
    color: #fff;
    text-transform: uppercase;
    font-size: large;
}

.box-perfil-btnEditar{
    width: 150px;
    padding: 0px 40px;
    height: 200px;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}

.box-perfil-btnEditar img{
    width: 80px;
    height: 80px;
    margin-top: 20px;
}

.box-perfil-btnEditar h2{
    margin: 0;
    margin-top: 10px;
    font-family: var(--fuente-logo);
    color: #fff;
    font-size: 14px;    
}

.box-perfil-btnEditar a{
    /* width: 100px; */
    position: absolute;
    padding: 8px 20px;
    font-weight: 700;
    background-color: #b937c2;
    font-family: var(--fuente-enlaces);
    font-size: 8px;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 20px;
    bottom: -10px;
}

.box-perfil-datos{
    /* height: 500px; */
    display: flex;
    align-items: center;
}

.box-datos{
    position: relative;
    /* padding: 10px 0; */
    background-color: #2C1E4A;
    display: flex;
    flex-direction: column;    
    gap: 5px;
    height: 180px;
    margin-left: -20px;
}

.box-datos-lbl-text{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.box-datos-lbl-text p{
    margin: 0;
    color: #fff;
}

.box-datos-lbl-text p:last-child{
    color: #000;
    width: 250px;
    padding-left: 10px;
    background-color: #fff;
    border-radius: 40px;
    text-transform: capitalize;    
}

.box-buttoms{
    margin-top: 50px;
    display: flex;
    gap: 10px;
}

.btn-perfil{
    padding: 5px 20px;
    background-color: #3f3f97;
    text-decoration: none;
    color: #fff;    
    border-radius: 40px;
}

/* Estilos areas */

.box-areas{
    /* width: 100%; */
    padding-left: 20px;
    margin-bottom: 20px;
}

.box-areas h1{
    color: #fff;
    font-family: var(--fuente-logo);
}

.box-areas table{
    margin-bottom: 20px;
}

.box-areas table th{
    background-color: #242f94;
    color: #fff;
    padding: 10px;
}

.box-areas table td{
    background-color: #fff;
    padding: 10px;
    text-align: center;
}

.btn-regresar{  
    background-color: #b937c2;  
    padding: 5px 20px;
    border-radius: 10px;
     text-decoration: none;
     color: #fff;     
}

/* Estilos table editar alumno y apoderado */

.box-editar{
    padding-left: 20px;
}

.box-editar table{
    margin-bottom: 20px;
}

.box-editar table tr{
    display: flex;
    justify-content: space-between;
}

.box-editar table th{
    color: #fff;
}

/* estilo imagen horario */

.box-horario{
    width: 100%;    
    display: flex;
    justify-content: center;
}

.img-horario{
    margin-top: 20px;
    width: 1000px;    
}